.blogpost {
  width: 80%;
  margin-top: 30px;
}

.blogpost__title {
  font-size: 36px;
  font-weight: 500;
}

.blogpost__content {
  margin-bottom: 30px;
  text-align: justify;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.blogpost__author {
  font-size: 14px;
  font-weight: 300;
}

.blogpost__button {
  background-color: blue;
  width: 140px;
  height: 40px;
  margin: 0 30px;
  border: 1px solid black;
  border-radius: 10px;
  outline: 0;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
