.logout {
  background-color: blue;
  width: 30%;
  height: 180px;
  display: block;
  margin: 0 auto;
  padding: 30px 20px;
  border: 3px solid black;
  border-radius: 20px;
  color: white;
}

.logout__title {
  margin-bottom: 15px;
  font-size: 54px;
  font-weight: 600;
  text-align: center;
}

.logout__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logout__form-text {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px;
  text-align: center;
}

.logout__form-input {
  width: calc(100% - 15px);
  height: 40px;
  margin-bottom: 25px;
  padding-left: 15px;
  border: 2px solid black;
  font-size: 24px;
}

.logout__form-button {
  background-color: white;
  width: 240px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  outline: 0;
}